<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar debounce={500} placeholder="Search Cocktails" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="results?.length !== 0">
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'details', item.idDrink]">
      <ion-avatar slot="start">
        <img [src]="item.strDrinkThumb" *ngIf="item.strDrinkThumb !== null">
      </ion-avatar>
      <ion-label text-wrap>
        <h3>{{ item.strDrink }}</h3>
      </ion-label> 
    </ion-item>
  </ion-list>
  <ion-list *ngIf="results === undefined">
    <ion-item button *ngFor="let item of (categories | async)" [routerLink]="['/', 'category', item.strCategory]">
      <ion-label text-wrap>
        <h3>{{ item.strCategory }}</h3>
      </ion-label> 
    </ion-item>
  </ion-list>

</ion-content>
