<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar debounce={500} placeholder="Search Ingredients" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- DISPLAY INGREDIENT -->
<ion-content [fullscreen]="true">
  <ion-card *ngIf="result && searchTerm !== ''">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title><h1>{{ result?.strIngredient }} </h1></ion-card-title>
          <ion-card-subtitle><ion-label>Type: {{ result?.strType }}</ion-label></ion-card-subtitle>
        <ion-text><h5>Alcoholic? {{ result?.strAlcohol }}</h5></ion-text>
        </ion-col>
          <ion-avatar size="large">
            <img [src]="image" class="info-img">
        </ion-avatar>
      </ion-row>
    </ion-card-header>
    <ion-card-content text-center>
      {{ result?.strDescription }}
    </ion-card-content>    
  </ion-card>

  <!-- EMPTY LIST -->
  <ion-card *ngIf="!result || searchTerm === ''">
    <ion-card-header>
        <ion-card-subtitle>Search for your favorite ingredient to learn more!</ion-card-subtitle>  
    </ion-card-header>
  </ion-card>

</ion-content>
