<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ information?.strDrink }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-card *ngIf="information">
    <img [src]="information.strDrinkThumb" >
    <ion-card-header>
    <ion-card-subtitle>Recipe</ion-card-subtitle>
    <p>{{ information.strInstructions }}</p>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Measurements & ingredients</ion-card-subtitle>
      <p *ngFor="let item of (ingredients)" >
        {{ item?.measure }} {{ item?.ingredient}}   
      <p>
    </ion-card-content>
  </ion-card>
  
</ion-content>